@{
    ViewBag.Title = "Setup | Ciira";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

	<script type="text/javascript">
	    function yo_screen_changed() {
	    }
	    function yo_screen_changed_1280() {
	    }
	    function yo_screen_changed_960() {
	    }
	    function yo_screen_changed_854() {
	    }
	    function yo_screen_changed_800() {
	    }
	    function yo_screen_changed_720() {
	    }
	    function yo_screen_changed_640() {
	    }
	    function yo_screen_changed_600() {
	    }
	    function yo_screen_changed_540() {
	    }
	    function yo_screen_changed_480() {
	    }
	    function yo_screen_changed_360() {
	    }
	    function yo_screen_changed_320() {
	    }
	    function yo_screen_changed_240() {
	    }
	</script>		
	<style>
	
	</style>

<div class="yo-post" style="max-width: 340px;">
	<div class="yo-title"><a href="@Url.Action("Index", "Gate")">Setup</a></div>
	<div class="yo-body">
	</div>
</div>
